.carousel-container {
    width: 25%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img {
    width: 100%;
    display: block;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    
}

.carousel-buttons button {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
}

